[data-md-color-scheme="default"] {
  --md-primary-fg-color: hsl(205 80% 30%);
  --md-primary-fg-color--light: hsl(205 80% 40%);
  --md-primary-fg-color--dark: hsl(205 80% 30%);
  --md-primary-bg-color: hsl(204 80% 80%);
  --md-primary-bg-color--light: hsl(204 80% 95%);

  --md-accent-fg-color: hsl(205 80% 40%);
  --md-accent-fg-color--transparent: hsl(205 80% 40% / 0.1);
  --md-accent-bg-color: hsl(205 80% 80%);
  --md-accent-bg-color--light: hsl(205 80% 95%);

  --md-default-fg-color: hsl(0 0% 8%);
  --md-default-fg-color-light: hsl(0 0% 8% / 0.7);
  --md-default-fg-color-lighter: hsl(0 0% 8% / 0.3);
  --md-default-fg-color-lightest: hsl(0 0% 8% / 0.12);
  --md-default-bg-color: hsl(0 0% 100%);
  --md-default-bg-color--light: hsl(0 0% 100% / 0.7);
  --md-default-bg-color--lighter: hsl(0 0% 100% / 0.3);
  --md-default-bg-color--lightest: hsl(0 0% 100% / .12);

  --md-typeset-a-color: hsl(205 80% 40%);

  --md-footer-fg-color: hsl(206 80% 80%);
  --md-footer-fg-color--light: hsl(206 80% 95%);
  --md-footer-fg-color--lighter: hsl(206 80% 95% / 0.5);
  --md-footer-bg-color: hsl(205 80% 22%);
  --md-footer-bg-color--dark: hsl(205 80% 22% / 0.5);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: hsl(205 60% 10%);
  --md-primary-fg-color--light: hsl(205 60% 20%);
  --md-primary-fg-color--dark: hsl(205 60% 10%);
  --md-primary-bg-color: hsl(204 60% 60%);
  --md-primary-bg-color--light: hsl(204 60% 75%);

  --md-accent-fg-color: hsl(205 60% 60%);
  --md-accent-fg-color--transparent: hsl(205 60% 60% / 0.1);
  --md-accent-bg-color: hsl(205 60% 20%);
  --md-accent-bg-color--light: hsl(205 60% 40%);

  --md-default-fg-color: hsl(0 0% 88%);
  --md-default-fg-color-light: hsl(0 0% 88% / 0.7);
  --md-default-fg-color-lighter: hsl(0 0% 88% / 0.3);
  --md-default-fg-color-lightest: hsl(0 0% 88% / 0.12);
  --md-default-bg-color: hsl(0 0% 8%);
  --md-default-bg-color--light: hsl(0 0% 8% / 0.7);
  --md-default-bg-color--lighter: hsl(0 0% 8% / 0.3);
  --md-default-bg-color--lightest: hsl(0 0% 8% / .12);

  --md-typeset-a-color: hsl(205 60% 60%);

  --md-footer-fg-color: hsl(206 60% 60%);
  --md-footer-fg-color--light: hsl(206 60% 75%);
  --md-footer-fg-color--lighter: hsl(206 60% 75% / 0.5);
  --md-footer-bg-color: hsl(205 60% 2%);
  --md-footer-bg-color--dark: hsl(205 60% 2% / 0.5);
}

.md-logo {
  width: 11.5rem;
}

.md-logo:hover {
  opacity: 1;
}

.md-header__button.md-logo img,
.md-nav__title .md-nav__button.md-logo img {
  width: 100px;
  height: 26px;
}

th:first-of-type,
td:first-of-type {
  white-space: nowrap;
}

.md-typeset h2 {
  border-bottom: 1px solid var(--md-default-fg-color-light);
  width: 100%;
}