* {
  box-sizing: border-box;
}
body {
  font: 17px / 1.4 sans-serif;
  font-family: 'Nunito sans', sans-serif;
}
p {
  font: 17px / 1.4 sans-serif;
  font-family: 'Nunito sans', sans-serif;
  margin: 0;
  margin-bottom: 24px;
}
pre code {
  margin: 0;
  padding: 5px;
  font-family: Monaco, Menlo, Consolas, 'Roboto Mono', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  direction: ltr;
  white-space: pre;
  position: relative;
  tab-size: 4;
}
code {
  font-family: Monaco, Menlo, Consolas, 'Roboto Mono', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
  color: inherit;
  line-height: 1.4;
  margin: 0;
  padding: 1px 3px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #f6f6f6;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: 'Nunito sans', sans-serif;
  line-height: 1.4;
}
a {
  color: #2577b1;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #2577b1;
}
a:hover {
  color: #185886;
  text-decoration: underline;
}
input[type] {
  background-color: #f7fbfe;
  box-shadow: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #000000;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  padding: 6px;
  word-wrap: break-word;
  border: 1px solid;
  border-color: #d2d2d2 #e4e4e4 #e4e4e4 #d2d2d2;
  border-radius: 4px;
}
input[type]:focus {
  background-color: #edf6fd;
  color: #000000;
  outline: 0;
}






.wy-body-for-nav .wy-nav-content-wrap {
  background: #eeeeee;
}
.wy-body-for-nav .wy-nav-content {
  background: none;
  max-width: none;
  margin: 0 10px;
  padding: 6px 10px;
}
.wy-body-for-nav .wy-nav-content div[role=navigation] {
  font-size: 13px;
  margin: 6px 0;
}
.wy-body-for-nav .wy-nav-content div[role=navigation] hr {
  display: none;
}
.wy-body-for-nav .wy-nav-content div[role=main] {
  background: #fefefe;
  color: #141414;
  border: none;
  border-radius: 20px;
}
.wy-body-for-nav .wy-nav-content div[role=main] .section {
  padding: 20px;
}
.wy-body-for-nav .wy-nav-content .admonition .admonition-title {
  margin-bottom: 0;
  background-color: transparent;
}
.wy-body-for-nav .wy-nav-content .admonition.note {
  background: #edf6fd;
  color: #185886;
}
.wy-body-for-nav .wy-nav-content .admonition.note .admonition-title {
  color: #185886;
}
.wy-body-for-nav .wy-nav-content .admonition.warning {
  background: #fbf7e2;
  color: #84653d;
}
.wy-body-for-nav .wy-nav-content .admonition.warning .admonition-title {
  color: #84653d;
}
.wy-body-for-nav .wy-nav-content .admonition.terminal {
  position: relative;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  background: linear-gradient(0deg, #10456b, #0f3652);
}
.wy-body-for-nav .wy-nav-content .admonition.terminal .admonition-title {
  display: none;
}
.wy-body-for-nav .wy-nav-content .admonition.terminal p {
  padding: 5px;
  margin: 0;
  border: 0;
  font-family: Monaco, Menlo, Consolas, 'Roboto Mono', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 13px;
  line-height: 1.4;
  color: white;
}
.wy-body-for-nav .wy-nav-content .admonition.terminal em {
  color: #AAA;
  font-style: normal;
}
.wy-body-for-nav .wy-nav-content .admonition.terminal strong {
  font-weight: normal;
  background-color: #767676;
  padding: 2px;
}
.wy-body-for-nav .wy-nav-content .admonition a {
  color: inherit;
  text-decoration: underline;
}
.terminal .code pre {
  margin: 0;
}
.terminal .code pre .token {
  color: #AAAAAA;
}
.wy-nav-top {
  background: #185886;
  line-height: 1.4;
  font-size: 20px;
}
.wy-nav-top a {
  color: #ffffff;
}
.wy-nav-side {
  background: #185886;

}
.wy-side-nav-search {
  background: #185886;
  background: #0f3652;
  color: #bcdef5;
  /*border-bottom: #154d75 1px solid;*/
  margin-bottom: 0;
}
.wy-side-nav-search > a {
  color: inherit;
  font-size: 17px;
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  font-weight: 300 !important;
}
.wy-side-nav-search input[type=text] {
  background-color: #f7fbfe;
  box-shadow: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #000000;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  padding: 6px;
  word-wrap: break-word;
  border: 1px solid;
  border-color: #d2d2d2 #e4e4e4 #e4e4e4 #d2d2d2;
  border-radius: 4px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
.wy-side-nav-search input[type=text]:focus {
  background-color: #edf6fd;
  color: #000000;
  outline: 0;
}
.wy-side-nav-search input[type=text]:not(:focus)::-webkit-input-placeholder {
  color: inherit;
  opacity: .7;
}
.wy-side-nav-search input[type=text]:not(:focus)::-moz-placeholder {
  color: inherit;
  opacity: .7;
}
.wy-side-nav-search input[type=text]:not(:focus):-moz-placeholder {
  color: inherit;
  opacity: .7;
}
.wy-side-nav-search input[type=text]:not(:focus):-ms-input-placeholder {
  color: inherit;
  opacity: .7;
}

/* new for mkdocs 1.1.2 */

footer
{
  font-size: 10px;
  text-align: center;
}

.wy-menu-vertical
{
  font: 15px / 1.4 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  text-transform: none;
  font-size: 12px;
  font-weight: 300 !important;
  color: #ececec;
  background: linear-gradient(180deg, #185886, #154d75);
}

.wy-menu-vertical a
{
  color: #bcdef5 !important;
  font-size: 12px !important;
}

.wy-menu-vertical li,
.wy-menu-vertical li > a,
.wy-menu-vertical li.toctree-l1 > a.current
{
  background: none !important;
}

.wy-menu-vertical li,
.wy-menu-vertical li > a
{
  font-weight: normal !important;
}

.wy-menu-vertical li > a
{
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.wy-menu-vertical a.current,
.wy-menu-vertical a:hover
{
  background: rgba(0,0,0,.1) !important;
}

.wy-menu-vertical span.toctree-expand
{
  color: white !important;
}

.wy-menu-vertical li.current a {
  color: #bcdef5;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
  background: none;
}

/* L1 */
.wy-menu-vertical li.toctree-l1 > a
{
  padding: 20px 1.618em !important;
  font-weight: 300 !important;
  font-size: 17px !important;
  border-top: 1px solid #154d75 !important;
}

.wy-menu-vertical ul.current > li.toctree-l1.current {
  background: linear-gradient(to bottom, #124163 0%, #154d75 100%) !important;
  box-shadow: inset 0 -10px 15px -10px rgba(0, 0, 0, 0.3), inset 0 10px 15px -10px rgba(0, 0, 0, 0.3);
}

.wy-menu-vertical li.toctree-l1.current > a {
  border-top: none;
  border-bottom: none;
}


/* end new */


/*.wy-menu-vertical .subnav a {
  padding: 10px;
}
.wy-menu-vertical .subnav li.current > ul li a {
  padding: 10px;
}
.wy-menu-vertical ul {
  margin-bottom: 20px;
}
.wy-menu-vertical li ul li a {
  color: #bcdef5;
  font-size: 17px;
}
.wy-menu-vertical li.toctree-l1 {
  border-bottom: 1px solid #154d75;
}
.wy-menu-vertical li > a,
.wy-menu-vertical li > span {
  display: block;
  padding: 10px;
  line-height: 1.4;
  color: #bcdef5;
  font-size: 17px;
  font-weight: normal;
}
.wy-menu-vertical li > a:hover,
.wy-menu-vertical li > span:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wy-menu-vertical li > a.toctree-l3,
.wy-menu-vertical li > span.toctree-l3 {
  padding-left: 2.0em !important;
}
.wy-menu-vertical li > a.toctree-l4,
.wy-menu-vertical li > span.toctree-l4 {
  padding-left: 3.0em !important;
}
.wy-menu-vertical li.current {
  background: none;
}
.wy-menu-vertical li.current > ul {
  background: #154d75;
  padding-bottom: 15px;
}
.wy-menu-vertical li.current a {
  color: #bcdef5;
  font-size: 13px;
  display: block;
  border: none;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.wy-menu-vertical li.current a.current {
  background: #f6f6f6;
  color: #2577b1;
  font-weight: normal;
  padding: 10px;
  font-size: 17px;
}
.wy-menu-vertical li.current a.current:hover {
  background: #f6f6f6;
}
.wy-menu-vertical li.current a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wy-menu-vertical li.current a.toctree-l4 {
  padding-left: 1.5em;
}*/




.rst-versions {
  font-family: 'Nunito sans', sans-serif;
  border-top: 0;
}
.rst-versions .rst-current-version {
  background: #0f3652;
}
.rst-versions .rst-current-version a {
  line-height: 1.4;
}
.rst-footer-buttons {
  text-align: left;
}
.rst-footer-buttons .btn {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  line-height: 1.4;
  font-family: 'Nunito sans', sans-serif;
  box-shadow: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #2577b1;
  color: #edf6fd;
  border-color: #2985c6 #21699c #21699c #2985c6;
}
.rst-footer-buttons .btn:hover,
.rst-footer-buttons .btn:active,
.rst-footer-buttons .btn:focus {
  background-color: #166eac;
}
.rst-footer-buttons .btn a {
  color: inherit;
  text-decoration: none;
}
.rst-footer-buttons .btn.btn-neutral {
  background-color: #fefefe !important;
  color: #2577b1 !important;
  border-color: #e9e9e9 #cfcfcf #cfcfcf #e9e9e9;
}
.rst-footer-buttons .btn.btn-neutral:hover,
.rst-footer-buttons .btn.btn-neutral:active,
.rst-footer-buttons .btn.btn-neutral:focus {
  text-decoration: none !important;
  background-color: #edf6fd !important;
}
footer p {
  margin-bottom: 0;
}
footer div[role=contentinfo] p {
  font-size: 11px;
  text-align: center;
}
@media (max-width: 650px) {
  .wy-body-for-nav .wy-nav-content {
    margin: 0;
    padding: 0;
  }
  .wy-body-for-nav .wy-nav-content div[role=navigation] {
    padding: 0 6px;
  }
}
.hljs .hljs-string,
.hljs .hljs-tag .hljs-value,
.hljs .hljs-phpdoc,
.hljs .hljs-dartdoc,
.hljs .tex .hljs-formula {
  color: #a11;
}
.hljs .hljs-comment,
.hljs .diff .hljs-header,
.hljs .hljs-javadoc,
.hljs .hljs-preprocessor,
.hljs .hljs-pragma,
.hljs .hljs-pi,
.hljs .hljs-doctype,
.hljs .hljs-shebang,
.hljs .hljs-cdata {
  color: #a50;
}
.hljs .hljs-keyword,
.hljs .css .rule .hljs-keyword,
.hljs .hljs-winutils,
.hljs .nginx .hljs-title,
.hljs .hljs-subst,
.hljs .hljs-request,
.hljs .hljs-status {
  color: #708;
}
.hljs .hljs-number,
.hljs .hljs-hexcolor,
.hljs .ruby .hljs-constant {
  color: #164;
}
.hljs .hljs-attribute,
.hljs .hljs-variable,
.hljs .lisp .hljs-body,
.hljs .hljs-name,
.hljs .hljs-built_in {
  color: #05a;
}
.hljs .hljs-regexp {
  color: #00c;
}
.hljs .hljs-symbol,
.hljs .ruby .hljs-symbol .hljs-string,
.hljs .lisp .hljs-keyword,
.hljs .clojure .hljs-keyword,
.hljs .scheme .hljs-keyword,
.hljs .tex .hljs-special,
.hljs .hljs-prompt {
  color: #708;
}
.hljs .hljs-deletion {
  color: #d44;
}
.hljs .hljs-addition {
  color: #292;
}

.rst-content img {
  border: solid 1px #a5cae4;
  margin: 0 10%;
  max-width: 80%;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  -khtml-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

/*.wy-body-for-nav .wy-nav-content div[role=main]
{
  background: linear-gradient(180deg, #2577b1, #fefefe 100px);
}*/

h1
{
  color: #2577b1;
}

h2, h3, h4, h5, h6
{
  margin-top: 2em;
}

.rst-content .admonition,
.rst-content pre code,
.rst-content blockquote
{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.2);
}

.rst-content blockquote
{
  width: 90%;
}

.rst-content blockquote p
{
  margin-bottom: 0;
  font-style: italic;
  font-size: 90%;
}

.rst-content .admonition-title
{
  padding: 12px;
  font-size: 19px;
}

.rst-content pre code
{
  border: none;
  font-size: 14px;
}

.rst-content pre code.apachecnf
{
  background: linear-gradient(135deg, #edf6fd, #bcdef5);
}

.rst-content li + li
{
  margin-top: 0.5em;
}

.rst-content img
{
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.2);
}

.rst-content img[alt^="Screenshot:"]
{
  border: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  margin: 0;
}

/* this is a test - xf2manual */

.rst-content .bbMediaWrapper
{
  width: 560px;
  max-width: 100%;
  margin: 0;
}

.rst-content .bbMediaWrapper-inner
{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.rst-content .bbMediaWrapper-inner iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}